.export-modal
  width: 9rem !important;

  .ant-modal-content
    .ant-modal-body
      height: 5.5rem;
      overflow: auto;

    .ant-modal-footer
      display: none;
  
  .ant-table
    line-height: .1rem;

    .ant-table-thead
      background-color: #06305f;
      height: 1rem;

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td 
    background-color: #052651;
