.area-main
  height 100%
  width  100%

  .operate
    height .4rem
    display: flex
    
    .tab-btn
      flex 1
      margin-right .1rem

      & > span
        display: inline-block;
        color #D2EFFF;
        width: 1.4rem;
        height: 0.36rem;
        line-height: .36rem;
        font-size: 0.2rem;
        margin: 0 .1rem;
        text-align: center;
        bg('area-button-normal.png')
        cursor pointer

        &.active
          bg('area-button-focus.png')

    .time-filter
      flex 3

  .area-map
    height calc(100% - .4rem)
    filter: invert(0.8);