.root
  width: 100%;
  height: 100%;

.app
  width: 100%;
  height: 100%;

  .spin-main
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

  .loading-box
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    align-items: center;
    justify-content: center;
    z-index: 9999;

    &.show
      display: flex;

.main
  width: 100%;
  height: 100%;
  padding-top: 5px;
  background-color: #041C3F;
  background-image: url('../../assets/image/lineborder.png'),url('../../assets/image/lineborder.png')
  background-position: .5% 5px,99.5% 5px;
  background-repeat: no-repeat;
  background-size: contain;

  .header
    width 97%
    height .75rem
    margin 0 auto
    padding-bottom: 1vh;
    display: flex
    // justify-content center
    align-items: center
    bg('main-header.png')

    .title
      height 100%
      flex: 0 0 26%;
      margin-left: 2%;
      bg-contain('title.png')
      background-position: left center

    .menu
      flex 1
      display: flex
      text-align: center
      color #D2EFFF

      & > li
        width: 1.45rem;
        height: 0.45rem;
        line-height: .45rem;
        font-size: 0.2rem;
        margin: 0 .1rem;
        bg('button-normal.png')
        cursor pointer

        &.active
          bg('button-focus.png')

    .user
      flex: 0 0 10%
      display: flex
      align-items: center;
      justify-content: center;
      color: #D2EFFF;

      .avatar
        width .32rem
        height .32rem
        background-color: #1890ff
        border-radius: 50%
        text-align: center;

        & > i 
          line-height: .36rem
          font-size: .18rem

      .user-name
        margin 0 .15rem
        font-size .14rem
      
      .logout
          line-height: .36rem
          height .32rem
          font-size: .18rem
          cursor pointer

          &:hover
            color:#1890ff
          

        
  .main-body
    position: relative;
    width: 100%;
    padding: 0 .10rem;
    height: calc(100% - 7.5vh);
    color: #D2EFFF;
    overflow: auto;


