.home-main
  width: 100%;
  height: 100%;

  .operate-bar
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 5px 8px;

    .range
      width: 200px;
      height: 28px;        
      margin-left: 5px;

    .device-input
      margin-left: 5px;
      width: 100px;

    .export-btn
      background-color: #0b548a;
      color: rgba(255, 255, 255, .8);
      border: 0;
      font-size: .1rem;

  .search-wrapper
    width: 100%;
    height: calc(100% - 36px);
    padding: 2% 1%;

    


    