.search-main
  width: 100%;
  height: 100%;

  .operate-bar
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    padding: 0 8px;

    .ant-row
      display: flex;
      align-items: center;

    .range
      width: 2.9rem;
      height: .4rem;        
      margin-left: 5px;

    .device-input
      margin-left: 5px;
      width: 1.4rem;

    .btn
      bg('list-button-normal.png')
      color: rgba(255, 255, 255, .8);
      width: 1.2rem;
      height: 0.45rem;
      line-height: .45rem;
      text-align: center;
      font-size: .1rem;
      cursor: pointer

      .ant-upload
        color: rgba(255, 255, 255, .8);
        font-size: .1rem;

      a
        color: rgba(255, 255, 255, .8);

      .anticon
        margin-right: .1rem; 

    .btn:hover
      bg('list-button-focus.png')

  .search-wrapper
    width: 100%;
    max-height: calc(100% - .5rem);
    padding: 2% 1%;

    


    