.operate-bar
  .btn
    width: 87px;

.add-modal
  .form-input
    display: flex;
    align-items: center;
    justify-content space-around;
    margin-bottom: 5px;
  
    & > label
      width 60px;
      font-size: 12px;
      color: rgba(255, 255, 255, .8);

    & > .ant-input
      width: calc(100% - 70px);