.add-modal
  .form-input
    display: flex;
    align-items: center;
    justify-content space-around;
    margin-bottom: .1rem;
  
    & > label
      width .9rem;
      font-size: .12rem;
      color: rgba(255, 255, 255, .8);

    & > .ant-input
      width: calc(100% - 1.1rem);

.detail-modal
  .ant-modal-footer
    display: none;

.action
  a
    margin-right: .1rem; 